@import './global.scss';
.app{
    height:100vh;
    .click{
        border: 2px solid #eee;    
        border-radius: 20px;
        padding: 20px;
        position: relative;
        top: 50px;
        width: 600px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-between;
        height: auto;
        @include mobile{
            width: 300px;
        }
        button{
            cursor: pointer;
            border: 0;
            border-radius: 4px;
            font-weight: 600;
            margin: 0 10px;
            width: 200px;
            padding: 10px 0;
            box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
            transition: 0.4s;
            &.reg {
                color: white;
                background-color: rgba(104, 85, 224, 1);
                &:hover{
                    color:rgba(104, 85, 224, 1) ;
                    box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
                    background-color:#ffff ;
                  }
              }
              
              &.log {
                color: rgb(104, 85, 224);
                background-color: rgba(255, 255, 255, 1);
                border: 1px solid rgba(104, 85, 224, 1);

                &:hover{
                    color: white;
                    box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
                    background-color: rgba(104, 85, 224, 1);
                  }
              }

        }
    }
}